:root {
   --primary: #816da1;
   --secondary: #ffffff;
   --tertiary: #cfa655;
}
html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--secondary);
}
body {
    background: var(--primary);
}
.linksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 360px;
}
.linksImageContainer {
    position: relative;
    left: 90px;
    width: 150px;
    height: 150px;
    margin: 50px 0 18px 0;
}
.linksImage { 
    position: absolute;
    border-radius: 50%;
    top: 85.5px;
    left: 84px;
    transform: translate(-50%, -50%);
}
.profileImage {
    border-radius: 50%;
    width: 150px;
}
.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 6px;
    background-clip: content-box;
    /* animation: spin 5s linear 1; */
}
/*.linksImageContainer:active .circle {
    animation: spin 5s linear 1;
}
.border {
    border: 3px outset var(--tertiary);
}
 @keyframes spin {  
    100% { 
      transform: rotateZ(360deg);
    }
  }*/
span {
    font-size: 30px;
    color: var(--tertiary);
}
h1 {
    font-size: 44px;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
}
h3 {
    letter-spacing: .5px;
    margin: 5px 0 5px 0;
}
p, h3 {
    font-weight: 500;
}
p {
    font-size: 18px;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    
}
li {
    display: inline;
}
.linksSocialMedia {
    text-align: center;
}
hr {
    width: 350px;
    margin-inline-start: 0;
    border-top: 1px solid var(--secondary);
    border-left: none;
}
.icons {
    font-size: 32px;
    color: var(--secondary);
    padding: 10px;
    margin: 0 0 -20px 0;   
}
.icons:hover, span:hover {
    transform: scale(1.05);
    color: var(--tertiary);
}
.whiteButtons {
    border-radius: 40px;
    background-color: var(--secondary);
    padding: 12px 0 12px 0;
    text-align: center;
    font-size: 19px;
    letter-spacing: .5px;
    color: var(--primary);
    width: 350px;
    margin: 18px 0 10px 0;
}
.whiteButtons:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 1px var(--tertiary);
}
a {
    text-decoration: none;
    color: var(--primary);
}
footer {
    margin: 25px;
}
